{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div>
                <h1 class="display-5"> </h1>
            </div>

        </div>
        <div class="col-6">
            <div>
                <h1 class="display-5">Контакты</h1>
                <h3>Форма для связи</h3>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Email адрес</label>
    <input type="email" class="form-control" aria-describedby="emailHelp">
    <div class="form-text">Введите email адрес.</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Тема</label>
    <input type="text" class="form-control">
  </div>
      <div class="mb-3">
    <label class="form-label">Сообщение</label>
    <input type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
                


            <div class="col-3">
            <div>
                <h1 class="display-5"> </h1>
            </div>

        </div>





        </div>
    </div>
</div>
    </div>
{% endblock %}