{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div>
                <h1 class="display-5"> </h1>
            </div>

        </div>
        <div class="col-6">
            <div>
                <h1 class="display-5">Создание пользователя</h1>


           <form method="post">
                <input type="text" name="username" placeholder="Имя пользователя">
               <input type="text" name="first_name" placeholder="Имя">
               <input type="text" name="last_name" placeholder="Фамилия">
               <input type="text" name="email" placeholder="Почта">
               <br>
               <br>
               <p><select name="param">
                   <option>guest</option>
                   <option>admin</option>
               </select></p>
               <br>
                <button type="submit">Создать</button>
            </form>
                <br>
                <button><a href="/">На главную</a></button>
                <button><a href="/users/">Все пользователи</a></button>

            <div class="col-3">
            <div>
                <h1 class="display-5"> </h1>
            </div>

        </div>





        </div>
    </div>
</div>
    </div>
{% endblock %}