{% extends 'base.html' %}

{% block title %}Главная{%endblock%}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div>
                <h1 class="display-5"> </h1>
            </div>

        </div>
        <div class="col-9">
            <div>
                <h1 class="display-5">Система мониторинга и управления автоматизированной полки</h1>
            </div>
            <div>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="/users/"><button type="button" class="btn btn-success">Все пользователи</button></a>
                </div>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="/create_user/"><button type="button" class="btn btn-success">Создать пользователя</button></a>
                </div>
            </div>





        </div>
    </div>
</div>
{% endblock %}