{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div>
                <h1 class="display-5"></h1>
            </div>

        </div>
        <div class="col-9">
            <div>
                <h1 class="display-5">Логи системы мониторинга и
                    управления</h1>
            </div>


            <table class="table table-striped">
                <tr>
                    <td>ЛОГ</td>
                    <td>Дата</td>
                    <td>Время</td>
                    <td>Место</td>
                </tr>
                <tr>
                    <td>ЛОГ</td>
                    <td>27 марта 2022</td>
                    <td>12:23</td>
                    <td>Полка 1 Освещение ВКЛ</td>
                </tr>
                <tr>
                    <td>ЛОГ</td>
                    <td>28 марта 2022</td>
                    <td>14:45</td>
                    <td>Полка 2 Полив ВКЛ</td>
                </tr>
                <tr>
                    <td>ЛОГ</td>
                    <td>28 марта 2022</td>
                    <td>14:50</td>
                    <td>Полка 2 Полив ОТКЛ</td>
                </tr>
                <tr>
                    <td>ЛОГ</td>
                    <td>28 марта 2022</td>
                    <td>20:23</td>
                    <td>Полка 4 Увлажнение ВКЛ</td>
                </tr>
                <tr>
                    <td>ЛОГ</td>
                    <td>29 марта 2022</td>
                    <td>00:23</td>
                    <td>Полка 4 Увлажнение ОТКЛ</td>
                </tr>
                <tr>
                    <td>ЛОГ</td>
                    <td>29 марта 2022</td>
                    <td>10:45</td>
                    <td>Полка 5 Освещение ОТКЛ</td>
                </tr>
                <tr>
                    <td>ЛОГ</td>
                    <td>30 марта 2022</td>
                    <td>23:12</td>
                    <td>Полка 3 Освещение ВКЛ</td>
                </tr>
                <tr>
                    <td>ЛОГ</td>
                    <td>31 марта 2022</td>
                    <td>11:24</td>
                    <td>Полка 4 Увлажнение ВКЛ</td>
                </tr>

            </table>

        </div>
    </div>
</div>
{% endblock %}
